<nav
class="bg-gray-100 flex flex-col sm:flex-row justify-between items-center border-b-4 border-red-700 mb-4"
>
<img class="w-20" src="../assets/LOGO.png" alt="" />
<ul class="flex flex-col sm:flex-row  ">
  <li class="p-3"><a href="./formulari.html"> <button type="button" id="cargaFaker"></button></a></li>
  <li class="p-3"><a href="./index.html">Home</a></li>
  <li class="p-3"><a href="./Variadores.html">Variadores</a></li>
  <li class="p-3"><a href="./administracion.html">Administracion</a></li>
</ul>
</nav>