<!DOCTYPE html>
<html class="h-full" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>practica post</title>
        <link rel="stylesheet" href="../css/estilos2.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
          $(document).ready(function () {
            $("#navbar").load("../components/navbar.html");
            $("#footer").load("../components/footer.html");
          });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../js/administracion.js"></script>
      </head>
      
<body class="h-full">
    <div class="flex items-center justify-center h-full ">
    <h1>a</h1>
    </div>
</body>
</html>